@model MLTAscend.MVC.Models.InUser

@{
  ViewData["Title"] = "LogIn";
}

<div class="box">
  @using (Html.BeginForm("LogIn", "User"))
  {
    <div class="field">
      @Html.LabelFor(m => m.Username, "Username", new { @class = "label" })
      <div class="control">
        @Html.TextBoxFor(m => m.Username, new { @class = "input" })
      </div>
    </div>
    <div class="field">
      @Html.LabelFor(m => m.Password, "Password", new { @class = "label" })
      <div class="control">
        @Html.PasswordFor(m => m.Password, new { @class = "input" })
      </div>
    </div>
    <button type="submit" class="" id="login">Log in</button>
    <div class="">
      <small class="">Not a User? <a class="" href="signup">Sign up</a> Now.</small>
    </div>
  }
</div>

