<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Hello Bulma!</title>
  <link rel="stylesheet" href="~/css/bulma.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
  <header>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" asp-controller="Home" asp-action="Index">
          <img src="~/images/Ascend.png" width="112" height="28">
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item">Home</a>
          <a class="navbar-item">Documentation</a>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">More</a>

            <div class="navbar-dropdown">
              <a class="navbar-item" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
              <a class="navbar-item" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
              <a class="navbar-item">Contact</a>
              <hr class="navbar-divider">
              <a class="navbar-item">Report an issue</a>
            </div>
          </div>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-primary" asp-controller="Home" asp-action="SignUp"><strong>Sign up</strong></a>
              <a class="button is-light" asp-controller="Home" asp-action="LogIn">Log in</a>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <section class="section">
    <div class="container">
      @RenderBody()
    </div>
  </section>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>MLT Ascend</strong> was created by Jacob Covington, Mason Degeneffe & Nathan Johnson.
      </p>
      <p>The project is licensed under
        <a href=" https://github.com/jacobcov/MLT-Ascend/blob/master/LICENSE">GPL-3.0</a>.
      </p>
    </div>
  </footer>
  @RenderSection("Scripts", required: false)
</body>
</html>
