@using MLTAscend.Domain.Models
@using MLTAscend.MVC.Models
@*
   For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div id="chart_div"></div>




<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script>
      google.charts.load('current', { packages: ['corechart', 'line'] });
      google.charts.setOnLoadCallback(drawBasic);



      function drawBasic() {

         var data = new google.visualization.DataTable();
         data.addColumn('number', 'Date');
         data.addColumn('number', '@ViewBag.tickerDay.Ticker');
         @{
           var l = (List<Symbol>)ViewBag.tickerData;
            l.Reverse();
          foreach (var item in l)
            {
               @:data.addRows([[@l.IndexOf(item)*-1,@item.High]])
            }
            }
         data.addRows([
            [1,@ViewBag.Prediction.OneDayPred],[7,@ViewBag.Prediction.OneWeekPred],[30,@ViewBag.Prediction.OneMonthPred],[90,@ViewBag.Prediction.ThreeMonthPred],[360,@ViewBag.Prediction.OneYearPred]
         ]);

         var options = {
            hAxis: {
               title: 'Date'
            },
            vAxis: {
               title: 'Price'
            },
            pointsVisible: true,
            pointSize: 2
         };

         var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

         chart.draw(data, options);
   }
</script>


